body {
    font-family: 'Roboto', sans-serif;
}

.hero-section {
    background: url('../images/bgImage.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    border-radius: 10px;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}