{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

   <!-- <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>India is an agriculture country. Different types of fruits
            and vegetables are produced in India. India is at second
            number after china in production fruits. In India all the preharvest and post-harvest process are done manually with
            help of labor. Manual process is very time consuming, less
            efficient so to get accurate result automation in agriculture
            industry is needed. The post- harvest process includes
            sorting and grading of fruits. Different quality factors are
            considered for sorting and grading of fruits. These factors
            are internal quality factors and external quality factors. The
            external quality factors are texture, shape, color, size and
            volume, and internal quality factors are test sweetness,
            flavor, aroma, nutrients and carbohydrates present in that
            fruit.
	</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Automation is playing important role in day to day life. In
                India more than half population depends upon agriculture.
                Their main source of income is agriculture. Exporting of
                fresh fruit is increased day to day from India. People are very
                conscious about their health; they prefer only fresh, good
                quality fruit.
                Texture, color and size are the important parameters for
                fruit quality identification. The color recognition is very
                important process in ripeness detection. The ripeness
                detection is external quality factor, but texture is also very
                important. Because of texture defected fruit can be
                recognized. Texture analysis detects the non-uniformity of
                fruit outer surface. The size is also important parameter. It
                clearly seen parameter all customer select fruit based on
                size.	
              </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div> -->

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}