{% extends "layout.html" %}
{% block content %}

<div class="w3-card-4 w3-margin">

    <header class="w3-container w3-green">
      <h1>Upload Pomegranate Image</h1>
    </header>
    <img src="static/images/test_image.jpg" alt="Alps" style="width:50%">
    <br>
    <form class="w3-container w3-margin" action="" method="post" enctype="multipart/form-data">
        <input class="w3-btn w3-black" type="file" name="photo" accept="image/*"/>
        <input class="w3-btn w3-black" name="sub" type="submit" value="Upload">
        <input class="w3-btn w3-black" name="sub" type="submit" value="Test">
    </form>

    <br>
    <footer class="w3-container w3-green">
      <h5></h5>
    </footer>
    
    </div>

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Test Report</h1>
        </header>
        
        <div class="w3-container">
          <p>{{ result }}
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
    </div>

    <div class="w3-card-4 w3-margin">

      <header class="w3-container w3-purple">
        <h1>Pesticides/Fungicides Infomation: </h1>
      </header>
      
      <div class="w3-container">
        <p>{{ pesticide }} 
      </p>
        <p>{{ pesticide1 }}
      </p>
        <p>{{ pesticide2}}
      </p>
      </div>
      
      <footer class="w3-container w3-purple">
        <h5></h5>
      </footer>
  </div>

    {% endblock %}