{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Upload Pomegranate Image
            </div>
            <div class="card-body">
                <img src="{{ url_for('static', filename='images/test_image.jpg') }}" alt="Pomegranate" class="img-fluid mb-3">

                <form action="" method="post" enctype="multipart/form-data" id="upload-form">

                    <input type="file" id="photo-input" name="photo" accept="image/*" class="d-none" onchange="document.getElementById('upload-form').submit();">

                    <label for="photo-input" class="btn btn-primary">Choose Image to Upload</label>

                    <button type="submit" name="sub" value="Test" class="btn btn-success">Test</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Test Report
            </div>
            <div class="card-body">
                {% if result %}
                    <p>{{ result }}</p>
                {% endif %}
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                Pesticides/Fungicides Information
            </div>
            <div class="card-body">
                <p>{{ pesticide }}</p>
                <p>{{ pesticide1 }}</p>
                <p>{{ pesticide2 }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}