{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Abstract</h1>
        </header>
        
        <div class="w3-container">
          <p>
            This project presents the recent development in
            automatic vision based technology. Use of this technology is
            increasing in agriculture and fruit industry. An automatic
            fruit quality detection system for sorting and grading of
            fruits and defected fruit detection discussed here. The main
            aim of this system is to replace the manual inspection
            system. This helps in speed up the process improve accuracy
            and efficiency and reduce time. This system collect image
            from camera which is placed on conveyor belt. Then image
            processing is done to get required features of fruits such as
            color and size. Defected fruit is detected based on image
            pixels. Sorting is done based on color and size.
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Introduction</h1>
            </header>
            
            <div class="w3-container">
              <p>
                India is an agriculture country. Different types of fruits
                and vegetables are produced in India. India is at second
                number after china in production fruits. In India all the preharvest and post-harvest process are done manually with
                help of labor. Manual process is very time consuming, less
                efficient so to get accurate result automation in agriculture
                industry is needed. The post- harvest process includes
                sorting and grading of fruits. Different quality factors are
                considered for sorting and grading of fruits. These factors
                are internal quality factors and external quality factors. The
                external quality factors are texture, shape, color ,size and
                volume, and internal quality factors are test, sweetness,
                flavor, aroma, nutrients, carbohydrates present in that
                fruit
            </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Literature Survey</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        1. S. S. Patil and S. A. Thorat, ”Early detection of grapes diseases using machine
                        learning and IoT,” 2016 Second International Conference on Cognitive Computing and Information Processing(CCIP),Mysore,2016,pp.1-5.
                        doi: 10.1109/CCIP.2016.7802887.<br>
                        2. M. Dhakate and Ingole A. B., ”Diagnosis of pomegranate plant diseases using
                        neu-ral network,” 2015 Fifth National Conference on Computer Vision, Pattern
                        Recognition, Image Processing and Graphics (NCVPRIPG), Patna, 2015, pp.
                        1-4. doi:10.1109/NCV PRIPG.2015.7490056.<br>
                        3. S. Yahata et al., ”A hybrid machine learning approach to automatic plant phenotyping for smart agriculture,” 2017 International Joint Conference on Neural
                        Net-works (IJCNN), Anchorage,AK,2017,pp.1787-1793.
                        doi: 10.1109/IJCNN.2017.7966067.
                      </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Conclusion</h1>
            </header>
            
            <div class="w3-container">
              <p>
                The system takes an input image of Pomegranate and processes using CNN algorithm
                by image augmentation and RGB color gradient for further categorising it under
                different diseases like bacterial blight, butterfly pomegranate, bitter rot and providing
                preventive measures to the user and system accuracy chart at the client end.
            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}