<!DOCTYPE html>
<html>
<head>
<style>
  body {
    background-color: rgb(240, 236, 236);
  }
</style>
</head>
<title>Pomegranate Disease Detection Based On Machine Learning</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-aqua w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="home" class="w3-bar-item w3-button">Home</a>
  <a href="image" class="w3-bar-item w3-button">Detect Pomegranate Disease</a>
  <!--<a href="info" class="w3-bar-item w3-button">Know about Project</a> -->
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-red">
  <h1>Pomegranate Disease Detection Based On Machine Learning</h1>
</div>

{% block content %}
{% endblock %}



<!-- Footer-->
<div class="w3-container w3-teal">
  <div class="w3-container w3-cell w3-mobile" style="width:85%">
    <h5>Developed By</h5>
    <div class="w3-container w3-cell">
      <p>Yugal Jagtap</p>
      <p>Vivek Gaikwad</p>
    </div>
    <div class="w3-container w3-cell">
      <p>Gaurav Shinde</p>
      <p>Vijay Shastri</p>
    </div>
  </div>
  <div class="w3-container w3-cell w3-mobile">
    <h5>Guided By</h5>
    <p>Mr.P.B Wakhare</p>
  </div>
  </div>

</div>
      
</body>
</html>
